<app-header *ngIf="router.url != '/login'"></app-header >

<!-- Main -->
<div class="container-fluid" *ngIf="router.url != '/login'">
  <div class="row">
    <div class="col-sm-3">
      <!-- Left column -->
      <app-left-navigation></app-left-navigation>
    </div>
    <!-- /col-3 -->
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <!--/col-span-9-->
  </div>
</div>

<router-outlet  *ngIf="router.url == '/login'"></router-outlet>

<!-- /Main -->
<app-footer *ngIf="router.url != '/login'"></app-footer>
