<ul class="list-inline pull-right">
  <li *ngIf="isEditing && !isNew">
    <button class="btn btn-primary" (click)="cancel()"> <span class="glyphicon glyphicon-erase" ></span> Cancel</button>
  </li>
  <li *ngIf="canEdit"><a title="Edit" class="btn btn-primary" (click)="toogleEditMode()"><span
    class="glyphicon {{isEditMode ? 'glyphicon-eye-open' : 'glyphicon-edit'}} " ></span> {{isEditMode ? "Preview" : "Edit"}}</a></li>
  <li *ngIf="isEditing">
    <button class="btn btn-success" (click)="save()"> <span class="glyphicon glyphicon-floppy-save" ></span> Save</button>
  </li>

  <li *ngIf="canEdit && !isNew">
    <button class="btn btn-danger" (click)="delete()"> <span class="glyphicon glyphicon-fire" ></span> Delete</button>
  </li>
</ul>

<div class="row" *ngIf="isEditing">
  <form>
    <div class="col-md-3">
      <div class="form-group">
        Name: <input type="text" class="form-control" name="name" [(ngModel)]="lesson.name">
      </div>
    </div>
  </form>
</div>

<div *ngIf="lesson.content && !isEditMode">
  <markdown [data]="lesson.content">
  </markdown>
</div>
<div class="editor" *ngIf="isEditMode">
  <ace-editor [(text)]="lesson.content"
              [mode]="'matlab'"
              [theme]="'eclipse'"
              class="editor">
  </ace-editor>
</div>
