<ul class="list-inline pull-right">
  <li *ngIf="isEditing && !isNew">
    <button class="btn btn-primary" (click)="cancel()"> <span class="glyphicon glyphicon-erase" ></span> Отмена</button>
  </li>
  <li *ngIf="canEdit"><a title="Edit" class="btn btn-primary" (click)="toogleEditMode()"><span
    class="glyphicon {{isEditMode ? 'glyphicon-eye-open' : 'glyphicon-edit'}} " ></span> {{isEditMode ? "Предпросмотр" : "Редактировать"}}</a></li>
  <li *ngIf="isEditing">
    <button class="btn btn-success" (click)="save()"> <span class="glyphicon glyphicon-floppy-save" ></span> Сохранить</button>
  </li>

  <li *ngIf="canEdit && !isNew">
    <button class="btn btn-danger" (click)="delete()"> <span class="glyphicon glyphicon-fire" ></span> Удалить</button>
  </li>
</ul>

<div class="row" *ngIf="isEditing">
  <form>
    <div class="col-md-3">
      <div class="form-group">
        Имя: <input type="text" class="form-control" name="name" [(ngModel)]="lesson.name">
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <a data-toggle="collapse" href="#visibilityPanel">Доступность <i class="glyphicon glyphicon-chevron-down"></i> </a>
          </div>
        </div>
        <div id="visibilityPanel" class="panel-collapse collapse">
          <div class="panel-body">
            <form name="visibilityForm">
              Тест доступен:<br>
              <input type="radio" [(ngModel)]="visibility" name="visible" value="All" checked> Всем<br>
              <input type="radio" [(ngModel)]="visibility" name="visible" value="Teacher"> Только Преподавателям<br>
              <input type="radio" [(ngModel)]="visibility" name="visible" value="Groups"> Только группам:

              <angular2-multiselect name="select" *ngIf="visibility === 'Groups'" [data]="groups" [(ngModel)]="selectedGroups" [settings]="dropdownSettings">

              </angular2-multiselect>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
          Описание
         </div>
        </div>
        <div class="panel-body">
            <div *ngIf="lesson.introductionText && !isEditMode">
              <markdown [data]="lesson.introductionText">
              </markdown>
            </div>
            <div class="editor" *ngIf="isEditMode">
              <ace-editor [(text)]="lesson.introductionText"
                          [mode]="'matlab'"
                          [theme]="'eclipse'"
                          class="editor">
              </ace-editor>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Мои попытки
        </div>
      </div>
      <div class="panel-body">
        TODO
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!isEditMode">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary">Начать тест</button>
  </div>
</div>
