<div>

  <div class="row">
    <div class="col-md-9 editor-column">
      <ace-editor [(text)]="code"
                  [mode]="'matlab'"
                  [options]="editorOptions"
                  class="editor">
        <!--[theme]="'eclipse'"-->


      </ace-editor>
    </div>
    <div class="col-md-3">
      <div *ngIf="errors" class="errors-block">
        Errors:
        <pre><code>{{errors}}</code></pre>
      </div>
      <div *ngIf="output">
        Output:
        <pre><code>{{output}}</code></pre>
      </div>
    </div>
  </div>

  <button (click)="runCode()" class="btn btn-primary btn-success">
    <i class="glyphicon glyphicon-repeat {{ loading ? 'fast-right-spinner' : ''}}"></i>
    Run
  </button>

</div>
