<div class="row">
  <div class="col-md-12">
    Фильтр:
    <input class="form-control" [(ngModel)]="filterLastName" [ngModelOptions]="{standalone: true}" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Группа</th>
          <th *ngIf="isTeacher">Логин</th>
          <th *ngIf="isTeacher">Email</th>
          <th *ngIf="isTeacher">Роль</th>
          <th *ngIf="this.canApprove">Потвердить</th>
          <th *ngIf="this.canApprove">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | callback: filterUsers(filterLastName)">
          <td><a [routerLink]="'/user/' + user.id">{{user.firstName}}</a></td>
          <td>{{user.lastName}}</td>
          <th>{{user.studentGroupName}}</th>
          <td *ngIf="isTeacher">{{user.username}}</td>
          <td *ngIf="isTeacher">{{user.email}}</td>
          <td *ngIf="isTeacher">
            <span class="label label-danger" *ngIf="displayRoles(user.roles).indexOf('Teacher') !== -1">!</span>
            {{ translateRoles(displayRoles(user.roles)) }}
          </td>
          <td *ngIf="this.canApprove && !user.enabled"><button (click)="approve(user)" class="btn btn-primary">Потвердить</button></td>
          <td *ngIf="this.canApprove && !user.enabled"><button (click)="reject(user)" class="btn btn-danger">Удалить</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

